<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Manifest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Sqlite" connectionString="Data Source=.\Manifest.db;Version=3"
      providerName="system.Data.SqlClient" />
    <add name="SqlExpress" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Manifest;Data Source=.\sqlExpress"
      providerName="system.data.sqlclient" />
    <add name="WizardLayout.Properties.Settings.SqlConn" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Manifest;Data Source=.\sqlExpress" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <Manifest.Properties.Settings>
      <setting name="LineCode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value>000</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OfflineCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsNewLic" serializeAs="String">
        <value>False</value>
      </setting>
    </Manifest.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentGatewayImplementationServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewayImplementationServiceBinding1" />
        <binding name="ManifestWSSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ManifestWSSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.zarinpal.com/pg/services/WebGate/service"
        binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplementationServiceBinding"
        contract="ServiceReference.PaymentGatewayImplementationServicePortType"
        name="PaymentGatewayImplementationServicePort" />
      <endpoint address="https://e-manifest.ir/ManifestWS.asmx" binding="basicHttpBinding"
        bindingConfiguration="ManifestWSSoap" contract="ManifestServiceReference.ManifestWSSoap"
        name="ManifestWSSoap" />
    </client>
  </system.serviceModel>
</configuration>